/* Colores principales */
body {
  overflow-x: hidden;
  background: rgba(82, 185, 233, 0.144);
  color: #333333;
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  color: #000000;
}

.title {
  text-align: center;
}

/* Encabezado */
header {
  background: linear-gradient(
    to top,
    rgba(82, 185, 233, 1),
    rgba(82, 185, 233, 0)
  );
  width: 100%;
  height: auto;
}

header img {
  height: 150px;
  width: 100%;
}

/* Productos */
.productos {
  gap: 20px;
  margin: 20px auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos h2 {
  text-align: center;
}

/* Contenedor de cada producto */
.producto {
  width: 25%; /* Aproximadamente el 33.33% del ancho total, con margen entre elementos */
  border: 4px ridge #8eccda;
  border-radius: 10px;
  padding: 15px;
  background-color: #f7f7f7;
  display: grid;
  place-items: center;
}

.contenedor_img {
  overflow: hidden;
  height: 30vh;
  width: 15vw;
}

/* Estilos para la imagen */
.producto .contenedor_img img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  text-align: center;
  color: #000000;
}

.producto p {
  color: #000000;
  font-size: 0.8rem;
}

/* Título del producto y texto */
.producto div {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
}

/* Precio del producto */
.producto .precio {
  font-size: 16px;
  font-weight: bold;
  color: #0077b3;
}

/*navegacion*/

.paginacion {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.paginacion button {
  background-color: #0077b3;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.paginacion button:hover {
  background-color: #005580;
}

.paginacion button a {
  color: inherit;
  text-decoration: none;
}

/*contactos*/
.contacto {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contacto h2,
p {
  color: white;
  text-align: center;
}

/* Pie de página */
footer {
  padding-bottom: 1%;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ffffff;
  text-align: center;
}

footer h3{
  
  margin-top: 50px;
  padding-top: 20px;
}

.paginacion .pag_actual .no-active{
  background-color: gray;
}
/* Estilos para la sección de productos en dispositivos móviles */
@media (max-width: 768px) {
  .contenedor_img {
    height: 20vh;

  }
  .productos {
    gap: 20px;
    margin: 20px auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Contenedor de cada producto */
  .producto {
    width: 60%;
    border: 4px ridge #8eccda;
    border-radius: 10px;
    padding: 15px;
    background-color: #f7f7f7;
    display: grid;
    place-items: center;
  }

  .contenedor_img {
    overflow: hidden;
    height: 25vh;
    width: 40vw;
  }
  
  /* Estilos para la imagen */
  .producto .contenedor_img img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  header img {
    height: 100px;
    width: 100%;
  }
}
